/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #CDCAE3;
    color: #1a1919; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

/* Container principal */
.container {
    max-width: 500px; 
    width: 100%; 
    margin: 15px auto; 
    background: #FFF; 
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(244, 247, 251) 100%);
    border-radius: 40px;
    padding: 35px 35px; 
    border: 5px solid rgb(255, 255, 255);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Logo */
.logo-container {
    margin-bottom: 20px;
}

.logo {
    width: 180px;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Títulos */
h2 {
    font-family: Poppins, sans-serif;
    font-size: 28px;
    color: #564B8F; /* Ultra Violet */
    font-weight: 900;
    margin: 0 auto 20px;
    text-align: center;
}

/* Inputs */
.input-group {
    margin-bottom: 20px; 
    text-align: left;
}

label {
    font-size: 18px; 
    margin-bottom: 6px; 
    display: block;
    color: #564B8F; /* Ultra Violet */
}

/* Inputs */
input[type="email"], input[type="password"], input[type="text"], select {
    width: 100%;
    padding: 15px 20px;
    font-size: 18px;
    border: 2px solid #abe4ffcc; /* Cor padrão da borda */
    border-radius: 20px;
    background: #FFF;
    box-shadow: #cff0ffcc 0px 10px 10px -5px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Transições suaves */
}

/* Efeito de foco com animação mais forte */
input[type="email"]:focus, input[type="password"]:focus, input[type="text"]:focus, select:focus {
    border-color: #00BFAD; /* Keppel */
    box-shadow: 0 0 5px rgba(0, 191, 173, 0.5); 
}

/* Botão principal */
button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    background: linear-gradient(45deg, #6458af 0%, #00BFAD 100%); 
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-top: 4px;
    margin-bottom: 12px;
}

button:hover {
    transform: scale(1.03);
    box-shadow: #85bdd7e6 0px 23px 10px -20px;
    background: linear-gradient(45deg, #4a427a 0%, #008C8C 100%); 
}

button:active {
    transform: scale(0.95);
    box-shadow: rgba(133, 189, 215, 0.9) 0px 15px 10px -10px;
}

/* Texto para registro */
.register-text {
    font-size: 14px;
    text-align: center;
    color: #564B8F;
    margin-bottom: 6px;
}

.register-text a {
    text-decoration: none;
    color: #6458af;
    font-weight: bold;
}

.register-text a:hover {
    text-decoration: underline;
    color: #4a427a;
}
